form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

form input,
form textarea,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input:focus,
form textarea:focus,
form select:focus,
form button:focus {
    border-color: hsl(58, 37%, 32%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

form button {
    background-color: hsl(58, 37%, 32%);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: hsl(59, 34%, 24%);
    transform: scale(1.05);
}

form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: hsl(58, 37%, 32%);
    text-align: center;
}